:root {
    --primary-color: #D65A20;
    --secondary-color: #B44614;
    --background-color: #fdf6f6;
    --text-color: #333;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.hero {
    background-image: url('images/masoud-mostafaei-C1tPtOon2SQ-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-color: var(--primary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.footer-warm {
    background-color: var(--secondary-color);
}